html {
  font-size: 16px; /* Prevents scaling */
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 .9375rem;

  @media (min-width: 768px) {
    max-width: 1246px !important;
  }
}

.text-has-sup {
  position: relative;

  sup {
    left: auto;
    right: -2rem;
    position: absolute;
    top: 1.125rem;
  }
}

section {
  padding: 2.5rem 0;
  @media (min-width: 992px) {
    padding: 3.75rem 0;
  }
}
ul{
  li{
    margin-bottom: .3125rem;
  }
}
.title {
  color: #1e1f24;
  font-weight: 700;
  font-family: var(--text-nohemi);
}
.text-gradient {
  background: linear-gradient(
    180deg,
    var(--gradient1) 0%,
    var(--gradient2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.link {
  font-size: 1.125rem;
  line-height: normal;
  font-weight: 600;
}

.text-title {
  font-family: var(--text-nohemi) !important;
}

.text-sm {
  font-size: 16px !important;
}
.text-large{
  font-size: 6.25rem;
  @media (min-width:1199px){
      font-size: 7.5rem;
  }
  @media (min-width:1366px){
      font-size: 9.375rem;
  }
}
.text-1 {
  font-size: 3rem !important;
  font-weight: 600;
  line-height: 4.5rem;
  @media (min-width: 992px) {
    font-size: 4rem !important;
  }
}

.text-2 {
  font-size: 2.75rem !important;
  line-height: 120%;
}

.text-3 {
  font-size: 1.5rem !important;
  line-height: normal;
   @media (min-width: 992px) {
    font-size: 2rem !important;
  }
}

.text-4 {
  font-size: 1.25rem !important;
  @media (min-width: 992px) {
    font-size: 1.75rem !important;
  }
}

.text-5 {
  font-size: 1.125rem !important;
  @media (min-width: 992px){
    font-size: 1.5rem !important;
  }
}

.text-6 {
  font-size: 1.25rem;
  line-height: 120%;
}

.text-7 {
  font-size: 1.125rem;
  line-height: 120%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  padding: 6px 12px;
  cursor: pointer;
  min-width: 150px;
  font-size: 18px;
  border: none;
  border-radius: 10px;

  @media (min-width: 768px) {
    padding: 10px 21px;
    min-width: 190px;
  }
}

.btn-gradient {
  border-radius: 10px;
  background: linear-gradient(180deg,
      var(--gradient1) 0%,
      var(--gradient2) 100%);
  /* background: var(--Gradient, linear-gradient(180deg, #1DAA7E 0%, #1A8463 100%)); */
}

.btn-shadow {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 5px 1px var(--primary-900);
    border-radius: 10px;
  }
}


.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  border-radius: inherit;
}

.tag {
  border-radius: 0.3125rem;
  padding: 5px 1.25rem;
}

.list-divider{
  li{
      &:not(:last-child){
        &:after{
          content: "|";
          padding: 0 .625rem;
        }
      }
    }
}
.icon-circle {
  background-color: #e8f1ff;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.circle {
  border-radius: 100%;
  display: inline-flex;
  border: 3px solid var(--white);
  background-color: var(--white);
  overflow: hidden;
  width: 3.125rem;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.circle-wrap {
  display: inline-flex;

  .circle {
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
  }

  .circle:not(:first-child) {
    margin-left: -0.9375rem;
  }
}

.circle-md {
  width: 4.5rem;
  height: 4.5rem;
}

.circle-sm {
  width: 3rem;
  height: 3rem;
}

.block-absolute {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
}

.icon-md {
  width: 30px;

  img {
    width: 30px;
  }
}

.item-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.headline {
  a {
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
  }
}

.card {
  color: var(--white);
  border-radius: 1.875rem;
  padding: 2rem;
  transition: all 0.5s linear;
  overflow: hidden;
  @media (max-width:991px){
    &:not(:last-child){
      margin-bottom: 2.5rem;
    }
  }

  p {
    font-size: 1.125rem;
  }

  .bg-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.card-lg {
  padding: 1rem 2rem 1rem 3.5rem;
    @media (min-width:1199px){
      padding: 1.9375rem 2.375rem 1.9375rem 4.125rem;
  }
}

.card-red {
  background-color: #f45b5b;
}

.card-green {
  background-color: #5492a0;
}

.card-purple {
  background-color: #6c64a8;
}

.card-brown {
  background-color: #a88964;
}