:root {
  --primary: #1DA077;
  --primary-900: #0C4332;
  --secondary: #ffffff;
  --secondary-50: #F9EBEC;
  --secondary-500: #C33241;
   --gradient1: #1DAA7E;
  --gradient2: #1A8463;
  --white: #FAFAFA;
  --black: #2B2B2B;
  --text-nohemi: 'Nohemi', sans-serif;
  --black-800: #565656;
}


