@font-face {
  font-family: "Nohemi";
  src: url("../fonts/Nohemi-Regular.eot");
  src: url("../fonts/Nohemi-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nohemi-Regular.woff2") format("woff2"),
    url("../fonts/Nohemi-Regular.woff") format("woff"),
    url("../fonts/Nohemi-Regular.ttf") format("truetype"),
    url("../fonts/Nohemi-Regular.svg#Nohemi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("../fonts/Nohemi-Bold.eot");
  src: url("../fonts/Nohemi-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nohemi-Bold.woff2") format("woff2"),
    url("../fonts/Nohemi-Bold.woff") format("woff"),
    url("../fonts/Nohemi-Bold.ttf") format("truetype"),
    url("../fonts/Nohemi-Bold.svg#Nohemi-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("../fonts/Nohemi-ExtraBold.eot");
  src: url("../fonts/Nohemi-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nohemi-ExtraBold.woff2") format("woff2"),
    url("../fonts/Nohemi-ExtraBold.woff") format("woff"),
    url("../fonts/Nohemi-ExtraBold.ttf") format("truetype"),
    url("../fonts/Nohemi-ExtraBold.svg#Nohemi-ExtraBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nohemi";
  src: url("../fonts/Nohemi-Black.eot");
  src: url("../fonts/Nohemi-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Nohemi-Black.woff2") format("woff2"),
    url("../fonts/Nohemi-Black.woff") format("woff"),
    url("../fonts/Nohemi-Black.ttf") format("truetype"),
    url("../fonts/Nohemi-Black.svg#Nohemi-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* header */
header {
  background: linear-gradient(180deg, #fff 55%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(0px);
}

.dropdown {
  &:hover {
    .dropdown-menu {
      font-size: 0.875rem;
      display: block;
      right: 0;
      background-color: white;
      min-width: 12.9375rem;
      border-radius: 0.5rem;
      padding: 0.625rem;
      box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
      li {
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid #f7f7f7;
          font-weight: bold;
        }
      }
    }
  }
  .dropdown-menu {
    li {
      padding: 0.625rem;
    }
    .icon {
      width: 24px;
    }
  }
}

/* hero section */
.hero-section {
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  @media (min-width: 768px) {
    height: 500px;
  }
    @media (max-width: 767px) {
      .props{
        display: none;
      }
    }
  .hero-team-member {
    .icon-tooltip {
      position: relative;
      cursor: pointer;
      &:not(:first-child) {
        margin-left: -0.9375rem;
      }
      &:hover {
        .circle {
          z-index: 1;
          position: relative;
        }
        .card-tooltip {
          top: -97px;
          opacity: 1;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          padding: 10px;
          min-width: 224px;
          left: -5rem;
        }
      }
    }
    .card-tooltip {
      /* display: none; */
      position: absolute;
      background-color: white;
      top: -10px;
      opacity: 0;
      &::after {
        content: "";
        position: absolute;
        bottom: -21px;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
        left: 50%;
      }
    }
  }

  .card-tooltip {
  }
  @media (min-width: 992px) {
    height: 676px;
    padding-top: 8.4375rem;
  }
}

.props-wrapper {
  /* Props */
  .props {
    img {
      max-height: 6.25rem;
      max-width: 6.25rem;
      @media (max-width: 767px) {
        width: 3.125rem;
      }
    }
    position: absolute;
    animation: floating 9s linear infinite;
  }

  .props-1 {
    top: -4.375rem;
    left: 3.4375rem;
  }

  .props-2 {
    bottom: 15.625rem;
    left: 4.375rem;
  }

  .props-3 {
    bottom: 4.0625rem;
    left: 17.5rem;
  }

  .props-4 {
    bottom: 6.875rem;
    right: 17.5rem;
  }

  .props-5 {
    bottom: 17.5rem;
    right: 2.6875rem;
  }

  .props-6 {
    top: -7.5rem;
    right: 130px;
  }
  .props-9 {
    top: 5.625rem;
    right: 1.6875rem;
  }
  .props-10 {
    top: 5.625rem;
  }
}

.mid-block {
  max-width: 684px;

  p {
    margin-top: 1.5625rem;
    font-size: 1.5rem;
    color: var(--black-800);
    margin-bottom: 3rem;
  }
}

.list-marquee {
  height: 6.25rem;
  padding: 1.1875rem 2.125rem;
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  .list-brand li {
    margin: 0;
  }

  ul,
  div {
    animation: marquee 10s infinite linear;
  }

  li {
    display: inline-block;
    text-align: center;
    font-size: 32px;
    margin: 0 20px;
    font-family: var(--text-nohemi);
  }

  li:after {
    content: "";
    background-image: url(../images/marquee-divider.svg);
    background-size: 100%;
    width: 1.4375rem;
    height: 1.875rem;
    display: inline-block;
    margin: 0 3rem;
  }
}

.list-brands {
  li {
    min-width: 6.875rem;
  }

  li:after {
    display: none;
  }
}

.list-marquee:before,
.list-marquee:after {
  content: "";
  position: absolute;
  left: 0;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(237, 221, 83, 0) 100%
  );
  width: 100px;
  height: 100%;
  z-index: 1;
}

.list-marquee-primary:before,
.list-marquee-primary:after {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(12, 67, 50, 1) 0%,
    rgba(237, 221, 83, 0) 100%
  );
}

.list-marquee:after {
  background: linear-gradient(
    90deg,
    rgba(12, 67, 50, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  right: 0;
  left: auto;
}

.list-marquee-primary:after,
.list-marquee:after {
  right: 0;
  left: auto;
}

.list-marquee-primary:after {
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(12, 67, 50, 0) 0%,
    rgba(12, 67, 50, 1) 100%
  );
}

/* Video section */

.video-cards {
  .owl-item {
    height: 22.3125rem;

    .video-wrapper {
      padding-bottom: 0.4375rem;
      @media (max-width: 767px){
        padding: 0 .9375rem;
      }
    }

    .video-item,
    .item-shadow {
      border-radius: 1.75rem;
      overflow: hidden;
      position: relative;
      z-index: 1;

      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .video-shadow {
      border-radius: 1.75rem;
      top: 0.4375rem;
      left: 0.5rem;
      height: 98%;
      width: 100%;
      background-color: black;
      display: none;
      position: absolute;
      z-index: 0;

      @media (min-width: 769px) {
        display: block;
      }
    }
  }
}

.video-item {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  cursor: pointer;

  .video-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: 0;
  }

  &:hover {
    video {
      opacity: 1;
    }
  }
}

/* Journey section */
.card-imgpop-block {
  .card {
    overflow: visible;
     @media (max-width: 576px) {
      text-align: center;
     }
    img {
      max-width: 96%;
      @media (max-width: 991px) {
        width: 60%;
      }
    }

    .left,
    .right {
     
      position: absolute;
      left: 1.375rem;
      top: 4.25rem;

      animation: floating 9s linear infinite;
      @media (max-width: 576px) {
      position: static;
      margin: 0;
      img{
        margin: 0 auto;
      }
      }
    }

    .right {
      right: 0;
      left: auto;
      @media (max-width: 991px) {
        right: -4rem !important;
        bottom: -2rem !important;
      }
    }
    .left {
      @media (max-width: 991px) {
        left: 6rem !important;
      }
    }

    @media (min-width: 1440px) {
      height: 21.25rem;
    }
  }

  .card:nth-child(odd) {
    @media (min-width: 578px) {
      padding-left: 12.8125rem;
    }
  }

  .card:nth-child(even) {
    @media (min-width: 578px) {
      padding-right: 12.8125rem;
    }
  }

  .card:nth-child(2) {
    .right {
      top: 2.9375rem;
    }
  }

  .card:nth-child(3) {
    @media (min-width: 578px) {
       padding-left: 9.0625rem;

     }

    .left {
      bottom: -4.0625rem;
      left: 1.25rem;
      top: auto;
      @media (max-width: 991px) {
        bottom: 0 !important;
      }
    }

    p {
      @media (min-width: 578px) {
        padding-left: 5rem;
  }
      @media (min-width: 769px) {
        padding-left: 6.25rem;
      }
    }
  }

  .card:nth-child(4) {
     @media (min-width: 578px) {
    padding-right: 11.5rem;
     }

    .right {
      right: -3.125rem;
      bottom: -6.5625rem;
      top: auto;
    }
  }
}

/* course section */
/* card layout */
.card {
  position: relative;

  .left {
    margin-left: -100px;
    margin-top: -2.8125rem;
  }

  .right {
    margin-top: -2.8125rem;
  }
}

.card-shrink {
  width: 100%;
  padding: 1.5rem 2.1875rem;
  @media (min-width: 1024px) {
    width: 17.5rem;
    height: 28.8125rem;
  }

  .card-swap-block {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  .card-transform {
    @media (min-width: 1024px) {
      transform: rotate(-90deg);
      position: absolute;
      top: 2.5rem;
      left: 0;
    }
  }
}

.card-swap-block,
.card-transform {
  position: relative;
}

.course-block {
  @media (max-width: 1023px) {
    max-width: 65%;
    margin: 0 auto;
  }
  @media (max-width: 767px) {
    max-width: 100%;
  }
  .card {
    color: var(--secondary-500);
    background-color: var(--secondary-50);
    &.active,
    &:hover {
      color: var(--secondary-50);
      background-color: #c33241;
      cursor: pointer;
    }
    &:first-child {
      @media (min-width: 1024px) {
        background-color: #c33241;
        color: var(--secondary-50);
      }
    }
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
    @media (min-width: 992px) {
      max-width: 37rem;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }
}

/* mentor section */
.mentors-block {
  @media (max-width: 1023px) {
    max-width: 35rem;
    margin: 0 auto;
    padding: 0  .9375rem;
  }
}
.card-mentor {
  padding: 0;
  cursor: pointer;
  &:not(:last-child){
    padding-bottom: 2.5rem;
    @media (max-width: 576px){
      padding-bottom: 1.25rem;
       margin-bottom: 30px;
    }
  }


  @media (min-width: 1024px) {
    padding: 0 32px;
    padding-right: 0;
    card {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  &:first-child {
    padding-left: 0;
  }
  .card-img {
    position: relative;
    z-index: 1;
    img{
       @media (max-width: 576px) {
          width: 100%;
       }
    }
  }

  &:hover {
   @media (min-width: 1024px) {
    animation: spacing 1s linear;
    padding-right: 100px;
    overflow: visible;
    .card-info {
        opacity: 1;
        transform: rotate(10deg) scale(0.9);
        animation: tilt 1s linear;
        left: 140px;
        top: 30px;
  
    }
  }
  }
  .card-transform {
    position: absolute;
    top: 145px;
    transform: rotate(270deg);
    right: -110px;
    width: 300px;
    text-align: right;
    span {
      font-weight: 500;
    }
      @media (max-width: 576px) {
        position: static;
        transform: none;
      }
  }
  .card-info {
    transform: scale(0.9);
    background-color: var(--white);
    height: 90%;
    width: 70%;
    left: 80px;
    top: 1.875rem;
    overflow: hidden;
    box-shadow: 0 10px 45px rgba(0, 0, 0, 0.2);
    transition: all 1s linear;
    animation: tilt-reverse 1s linear;
    @media (max-width: 1023px) {
      animation: tilt-reverse-m 0.6s linear;
      left: 7.8125rem;
      top: 0;
      opacity: 1;
      transform: rotate(10deg) scale(0.9);
    }
    @media (max-width: 576px) {
      position: relative;
      transform: none;
      bottom: 27px;
      top: auto;
      left: 0;
      width: 90%;
      height: auto;
      margin: 0 auto;
      z-index: 1;
      .card-transform{
        position: static;
        transform: none;
        width: 100%;
        text-align: center;
        padding-bottom: .3125rem;
      }

    }
    
  }
}

/* Testimonials Section */
.grid-testimonials {
  .card {
    color: var(--black);
    height: 9.6875rem;
    overflow: hidden;
    padding: 1.25rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    p {
      opacity: 0;
      display: none;
    }
  }
}
.testimonials-group {
  height: 31.25rem;
  @media (min-width: 1199px) {
    height: 43.5625rem;
  }
  .props-1 {
    top: 10px;
    left: 12.5rem;
  }
  .props-2 {
    top: 15rem;
    left: 1.875rem;
  }
  .props-3 {
    top: 22rem;
    left: 9.375rem;
  }

  .props-4 {
    bottom: 100px;
    left: 340px;
  }

  .props-5 {
    bottom: 0;
    right: 50%;
    left: 46%;
  }
  .props-6 {
    bottom: 0;
    top: auto;
    left: 65%;
  }
  .props-7 {
    top: 22rem;
    right: 12.5rem;
  }
  .props-8 {
    top: 15rem;
    right: 1.875rem;
  }
  .props-9 {
    top: 1.875rem;
    right: 12.5rem;
  }
}

/* stories section */
.card-stories {
  grid-template-columns: 34.375rem 1fr;
  @media (min-width: 768px) {
    height: 42.5rem;
  }
  @media (min-width: 1199px) {
    height: 42.5rem;
    grid-template-columns: 43.5rem 1fr;
  }
  .card {
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 1.875rem;
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
    }
  }
  .card-info {
    font-size: 0.875rem;
    font-weight: normal;
    top: 0;
    left: 0;
  }
}

/* footer section */
footer {
  overflow: hidden;
  padding: 3.375rem 1.25rem 2.125rem;
  background: var(
    --Gradient,
    linear-gradient(180deg, #1daa7e 0%, #1a8463 100%)
  );
  background-image: url("../images/bg-footer.png");
  background-color: #1a8463;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160%;
  border-radius: 32px;
  min-height: 500px;
  @media (max-width: 1023px) {
    background-image: none;
    p {
      text-align: center;
    }
  }

  h2 {
    font-size: 5.125rem;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  @media (min-width: 1199px) {
    background-size: 120%;
  }
}

.footer-info {
  font-size: 1.125rem;

  flex: 0 0 20.9375rem; /*flex-grow flex-shrink flex-basis */
  @media (min-width: 1199px) {
    margin-right: 5.625rem;
    margin-right: 3.125rem;
    flex: 0 0 26.25rem; /*flex-grow flex-shrink flex-basis */
  }
  @media (max-width: 767px) {
    align-items: center;
    text-align: center;
  }
}

.footer-content {
  display: grid;

  grid-template-columns: 2fr 1fr 2fr;
  gap: 60px;
}

.quick-links {
  flex-grow: 1;

  @media (max-width: 1024px) {
    margin-top: 1.875rem;
  }
  @media (max-width: 576px) {
    display: block !important;
    text-align: center;
    & > div {
      margin-bottom: 3rem;
    }
  }
  ul {
    li {
      margin-bottom: 1rem;
    }
  }
}
.social-link {
  li {
    background-color: var(--white);
    border-radius: 1.5625rem;
    padding: 0.25rem;
    width: 20px;
    height: 20px;
    font-size: 12px;
    color: var(--primary);
  }
}
.footer-bottom {
  @media (max-width: 576px) {
    text-align: center;
  }
}

/* Slider Animation */
.slider {
  height: 4.1875rem;
  position: relative;
  min-width: 17.8125rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: .125rem;
  text-align: left;
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.slide1 {
  animation: slide1 9s infinite; /* Reduced total time for tighter loop */
}

.slide2 {
  animation: slide2 9s infinite;
}

.slide3 {
  animation: slide3 9s infinite;
}

@keyframes slide1 {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  27% {
    opacity: 1;
    transform: translateY(0);
  }
  33% {
    opacity: 0;
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes slide2 {
  0%,
  33% {
    opacity: 0;
    transform: translateY(30px);
  }
  38% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  66% {
    opacity: 0;
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes slide3 {
  0%,
  66% {
    opacity: 0;
    transform: translateY(30px);
  }
  71% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  93% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
}

/* keyframes animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

@keyframes tilt {
  0% {
    transition: all 0.5s linear;
    top: 30px;
    left: 80px;
    transform: rotate(0deg) scale(0.9);
  }

  30% {
    transition: all 0.5s linear;
    top: 20px;
    left: 100px;
    transform: rotate(5deg) scale(0.9);
  }

  60% {
    transition: all 0.5s linear;
    top: 30px;
    left: 140px;
    transform: rotate(9deg) scale(0.9);
  }

  80% {
    transition: all 1s linear;
    top: 27px;
    left: 135px;
    transform: rotate(8deg) scale(0.9);
  }

  100% {
    transition: all 1s linear;
    top: 30px;
    left: 140px;
    transform: rotate(9deg) scale(0.9);
  }
}

@keyframes tilt-reverse {
  0% {
    transition: all 0.5 linear;
    top: 30px;
    left: 130px;
    transform: rotate(10deg) scale(0.9);
  }

  30% {
    transition: all 0.5 linear;
    top: 25px;
    left: 110px;
    transform: rotate(8deg) scale(0.9);
  }

  60% {
    transition: all 0.5 linear;
    top: 30px;
    left: 100px;
    transform: rotate(10deg) scale(0.9);
  }

  80% {
    transition: all 1s linear;
    top: 26px;
    left: 90px;
    transform: rotate(3deg) scale(0.9);
  }

  100% {
    transition: all 1s linear;
    top: 30px;
    left: 80px;
    transform: rotate(0deg) scale(0.9);
  }
}

@keyframes tilt-m {
  0% {
    transition: all 0.5s linear;
    top: 30px;
    left: 50px;
    transform: rotate(0deg) scale(0.9);
  }
  100% {
    transition: all 1s linear;
    top: 30px;
    left: 80px;
    transform: rotate(9deg) scale(0.9);
  }
}

@keyframes tilt-reverse-m {
  0% {
    transition: all 0.5 linear;
    top: 30px;
    left: 80px;
    transform: rotate(10deg) scale(0.9);
  }

  100% {
    transition: all 1s linear;
    top: 20px;
    left: 0;
    transform: rotate(0deg) scale(0.9);
  }
}

@keyframes spacing {
  0% {
    padding-right: 0;
    transition: all 0.5s linear;
  }

  50% {
    padding-right: 100px;
    transition: all 0.5s linear;
  }

  80% {
    padding-right: 85px;
    transition: all 1s linear;
  }

  100% {
    padding-right: 100px;
    transition: all 1s linear;
  }
}

@keyframes reverse-pacing {
  0% {
    padding-right: 100px;
    transition: all 0.5s linear;
  }

  50% {
    padding-right: 85px;
    transition: all 0.5s linear;
  }

  80% {
    padding-right: 100px;
    transition: all 1s linear;
  }

  100% {
    padding-right: 0;
    transition: all 1s linear;
  }
}
